/**/
.b-afisha-date-select {
	/*url(../img/b-afisha-date-bg.png) 0 bottom repeat-x;-*/
	padding: 0 0 0px 0px;
	position:relative;
	vertical-align: top;
    display: inline-block;
}

.b-afisha-date-select__time {
	background: #618d00 url(../img/green-bg.png) 0 0 repeat-x;
	font-size: 13px;
	vertical-align: top;
	height: 30px;
    display: inline-block;
}

.b-afisha-date-select__time__ico {
	position:absolute;
	display: block;

	width: 16px;
	height: 15px;

	left: 10px;
	top: 0.45em;

	background: url(../img/b-afisha-date-sprite.png) 0 0 no-repeat;
}

.b-afisha-date-select__time__value,
.b-afisha-date-select__current-link__pad {
	color: #fff;
	font-size: 14px;
	line-height: 28px;
	padding-left: 10px;
	padding-right: 12px;
	position:relative;
}

.b-afisha-date-select__current-link__pad {
	font-size: 14px;
	padding: 0em 30px 0em 10px;
    display: block;
}

a.b-afisha-date-select__current-link {
	position: relative;
	left: -2px;
	height: 30px;
	outline: none;
	text-decoration: none;
	background: #fe7609 url(../img/orange-bg.png) 0 0 repeat-x;
    display: inline-block;
	z-index: 102;
}

.b-afisha-date-select__current-link__ico {
	background: url(../img/b-afisha-date-sprite.png) -18px 0px no-repeat;
	width: 16px;
	height: 16px;
	position: absolute;
	left: 10px;
	top: 0.45em;
	display: block;
}

.b-afisha-date-select__current-link__drop {
	background: url(../img/b-afisha-date-sprite.png) -35px -2px no-repeat;
	width: 13px;
	height: 13px;
	position: absolute;
	right: 7px;
	top: 0.65em;
	display: block;
}


.b-afisha-date-select__bubble-container {
	position:relative;
}

