.b-blogs-list__item {
	background: url(../img/b-blogs-list-dot.gif) 0 bottom repeat-x;
	padding: 0 10px;
	padding-bottom: 16px;
	padding-top: 8px;
	margin-bottom: 4px;
	
}
.b-blogs-list__item dt {
	font-size: 1.1em;
	line-height: 1.3em;
	margin-bottom: 2px;
}
.b-blogs-list__item dd {
	font-size: 1.15em;
	line-height: 1.4em;
	
}

.b-blogs-list__item dd a {
	color: #519000;
	border-bottom: 1px solid #519000;
	text-decoration: none;
}

.b-blogs-list__item dt a {

}



.b-blogs-list__item.last {
	background: none;
}
