.b-container .b-list .b-list__item_index_last {
	list-style: none;
	background: none;
	margin-bottom: 0px;
}

.context .b-container .b-list__item_index_first {
	float: left;
	list-style: none;
	margin-left: -275px;
	width: 240px;
	position:relative;
	color: #000;
}

.context .b-list__item_index_first img {
	margin-bottom: 10px;
}