.b-photoreport-preview__second__list__item {
	display: block;
	float: left;
	width: 30%;
	height: 120px;
	margin: 0px;
	top: 0px;
	margin-left: 10px;
	margin-bottom: 12px;
	background-position: center center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1300px) {
	.b-photoreport-preview__second__list__item {
		width: 30%;
	}
}
@media screen and (max-width: 1180px) {
	.b-photoreport-preview__second__list__item {
		width: 45%;
	}
}