.b-popup-subscr__shadow {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* IE 5.5+*/
}
.b-popup-subscr {
	zoom: 1;
	height: 1;
}
.b-popup-subscr__frame,
.b-popup-subscr__content {
	zoom: 1;
}