.context .b-separator_size_0 {
	height: 0px;
	margin: 0px;
}
.context .b-separator_size_1 {
	height: 1px;
	margin: 0px;
}
.context .b-separator_size_2 {
	height: 2px;
	margin: 0px;
}
.context .b-separator_size_3 {
	height: 3px;
	margin: 0px;
}
.context .b-separator_size_4 {
	height: 4px;
	margin: 0px;
}
.context .b-separator_size_5 {
	height: 5px;
	margin: 0px;
}
.context .b-separator_size_6 {
	height: 6px;
	margin: 0px;
}
.context .b-separator_size_10 {
	height: 10px;
	margin: 0px;
}
.context .b-separator_size_13 {
	height: 13px;
	margin: 0px;
}
.context .b-separator_size_15 {
	height: 15px;
	margin: 0px;
}
.context .b-separator_size_20 {
	height: 20px;
	margin: 0px;
}
.context .b-separator_size_25 {
	height: 25px;
	margin: 0px;
}
.context .b-separator_size_30 {
	height: 30px;
	margin: 0px;
}
.context .b-separator_size_40 {
	height: 40px;
	margin: 0px;
}