/**
 * @package portal
 */

/**
 * @subpackage user
 */

/**
 * @section popups
 */

/**
 * @subsection account
 */
.js_user_popup_tabs {
    background-color: #8A8F7E;
    height: 40px;
    margin: -20px -45px 20px;
    padding: 0 15px;
    position: relative;
    text-align: justify;
    white-space: nowrap;
    z-index: 10;
}

.js_user_popup_tabs_tab {
    float: left;
}

.js_user_popup_tabs_tab_link {
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    height: 34px;
    line-height: 34px;
    margin-top: 6px;
    padding: 0 15px;
    text-decoration: underline;
}

.js_user_popup_tabs_tab_link-active {
    background-color: #FFFFFF;
    color: #000000;
    line-height: 40px;
    padding: 0 20px;
    text-decoration: none;
}

.js_user_popup_tabs_tab_link-login,
.js_user_popup_tabs_tab_link-register {
    font-size: 1.385em;
}

.js_user_popup_tabs_tab_link-repair {
    font-size: 1.077em;
}

.js_user_popup_left-label {
    float: left;
    height: 28px;
    line-height: 28px;
}

.js_user_popup_right-field_wrap {
    display: block;
    overflow: hidden;
    text-align: right;
}

.js_user_popup_right-field {
    width: 230px;
}