.b-advertisement-caption__link-edit {
    background: url(../img/b-advertisement-caption__button-button-edit.png) no-repeat scroll 0 0 transparent;
    color: white;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 18px;
    padding-left: 26px;
    padding-top: 5px;
    position: relative;
    top: 1px;
    width: 130px;
	
	margin-right: -100%;
}