.b-afisha-film-h3 {
	font-size: 13px;
	margin-left: 10px;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	margin-bottom: 10px;
}

.b-afisha-film-h3 h3 {
	font-size: 1.4em;
	line-height: 1em;
	margin: 0px;
	margin-right: 5px;
}

.b-afisha-film-h3 h3 a {
	text-decoration: none;
	border-bottom: 1px solid #037dd3;
} 