.js-cols-afisha-main-adapted,
.js-cols-afisha-events-adapted {
	margin-right: -7%;
}

.js-cols-afisha-main-adapted.b-cols_adapted_wMax .b-cols__item.b-cols__item_state_first {
	float: left;
	width: 61%;
	padding-right: 0px;	
	margin-right: 20px;
} 

.js-cols-afisha-main-adapted.b-cols_adapted_wMax .b-cols__item {
	width: 29%;
	float: left;
	margin-right: 20px;
}

.js-cols-afisha-events-adapted.b-cols_adapted_wMax .b-cols__item {
	width: 32%;
	padding-right: 20px;
}
