.context .b-header_margin_left-10 {
	margin-left: 10px;
}

.context .b-header_margin_left-20 {
	margin-left: 20px;
}

.context .b-header_margin_bottom-0 {
	margin-bottom: 0px !important;
}

.context .b-header_margin_bottom-5 {
	margin-bottom: 5px !important;
}

.context .b-header_margin_right-10 {
	margin-right: 10px;
}