.context .b-icon_img_dom-sdan {
	display: inline-block;
	width: 40px;
	height: 42px;
	position:absolute;
	top: 5px;
	right: -1px;
	margin-right: 0px;
	background: url(../img/b-icon_img_domsdan.png) 0 0 no-repeat;
}