.b-link_layout_toggle-arr-up {
	padding-right: 16px;
	background-image: url(../img/b-link-ico_sprite.png);
	background-repeat: no-repeat;
	background-position: right -14px;
}

.b-link_layout_toggle-arr-dwn {
	padding-right: 16px;
	background-image: url(../img/b-link-ico_sprite.png);
	background-repeat: no-repeat;
	background-position: right 3px;
}
