.b-photoreport-preview {
	font-size: 13px;
	position: relative;
	overflow: hidden;
	margin: 0 0 20px 0px;
}

.b-photoreport-preview__first {
	float: left;
	position: relative;
	width: 410px;	
}
.b-photoreport-preview__second {
	overflow: hidden;
	position: relative;
}

.b-photoreport-preview_margin_0 {
	margin-bottom: 0px;
}