.b-rubrik-question_wrap__quest-list {
	padding:  6px 10px 10px;
	background: #e6f6da;
}

.b-rubrik-question_wrap__quest-list li {
	font-size: 1.2em;
	background: url(../img/dot.gif) 0 bottom repeat-x;
	padding: 10px 10px 16px;
	line-height: 1.38em;
}

.b-rubrik-question_wrap__quest-list li.last {
	background: none;
	margin-bottom: 0px;
}

.b-rubrik-question_wrap__quest-list__link {
	font-weight: bold;
}
 
.b-rubrik-question_wrap__quest-list__link {
	text-decoration: none;
	border-bottom: 1px solid #037dd3;
}
 
.b-rubrik-question__form {
	padding-top: 4px;
	background: url(../img/wrap-quest-bg.png) 0 0 repeat-x;
}