.b-tabs_layout_filter-grey .b-tabs__list__item__link {
	color: #F1F5E8;
}

.b-tabs_layout_filter-grey .b-tabs__list__item__inner {
	border-bottom: 1px dashed #F1F5E8;
}

.b-tabs_layout_filter-grey .b-tabs__list__item_state_active {
	background: #F3F3F3;
}

.b-tabs_layout_filter-grey .b-tabs__list__item_state_active .b-tabs__item__link {
	color: #000;
}



