.b-text {
	color: #000;
	font-size: 13px;
	line-height: 18px;
}

p.b-text {
	margin: 5px 0;
}

.b-text p {
	margin: 9px 0 21px 0;
	font-size: 13px;
	line-height: 18px;
}

.b-text_blockquote_1 {
	background: #F3F3F3;
	padding: 10px;
	margin: 10px 0;
}

.b-text .b-text_blockquote_1 p {
	margin: 0px;
}

.b-text h3 {
	font-size: 18px;
	line-height: 24px;
	margin: 0 0 6px;
}
