.context .b-text_color_grey {
	color: #7d7d7d;
}
.context .b-text_color_white {
	color: #fff;
}
.context .b-text_color_sand-white {
	color: #e7eadf;
}
.context .b-text_color_orange {
	color: #F96E03;
}

